.mer_tx,.mi_tx,.ti_tx {
  width: 100%;
  text-align: center;
  margin: 0
}

.meridian,.mins,.time {
  width: 60px;
  float: left;
  margin: 0;
  font-size: 20px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 400
}

input.timepicki-input {
  border: none;
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-size: 0.8em !important;
  font-weight: 400;
}

.next,.prev {
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
  background: url(../img/caret-symbol.svg), #006940;
  background-repeat: no-repeat;;
  background-size: 40%;
  background-position: center center;

}

.next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.time_pick {
  position: relative
}

.timepicker_wrap {
  padding: 10px;
  z-index: 998;
  display: none;
  box-shadow: 0 0 4px 0 rgba(50,50,50,.2);
  background: #fff;
  border: 1px solid #eee;
  float: left;
  position: absolute;
  top: 40px;
  left: 0
}

.arrow_top {
  position: absolute;
  top: -12px;
  left: 20px;
  border-bottom: 12px solid #eee;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 1
}

.arrow_top::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -8px;
  border-bottom: 10px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  z-index: -1
}

input.timepicki-input {
  background: none repeat scroll 0 0 #FFF;
  float: none;
  margin: 0!important;
  text-align: center;
  width: 70%;
  padding: 2px!important;
}

a.reset_time {
  float: left;
  margin-top: 5px;
  color: #000
}
